
Lezione 1 04 03/Video1.mp4
Lezione 2 13 03/Video2.mp4
Lezione 3 18 03/Video3.mp4
Lezione 4 20 03/Video4.mp4
Lezione 5 25 03/Video.mp4
Lezione 6 27 03/6.mp4
Lezione 7 01 04/7.mp4
Parte 2/lezione1.mp4
Parte 2/ripassone.mp4
